<div class="home-page">
  <nav>
    <div class="container">
      <img src="assets\img\graywave.svg" alt="" class="graywave">
      <div class="row">
        <div class="logo col-sm-12 col-md-4">
           <img src="assets\img\tradinos_logo.svg" alt="logo">
        </div>
        <div class="list-nav-section col-sm-12 col-md-8 ">
          <ul class="d-flex justify-content-center ">
            <li class=" d-inline-block">home</li>
            <li class=" d-inline-block">about us</li>
            <li class=" d-inline-block">services</li>
            <li class=" d-inline-block">contact us</li>
            <li class="btn-style  d-inline-block ">conact us</li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <section class="content-home position-relative">
    <div class="container">
      <div class="row">

        <div class="text-home col-sm-12 col-md-6  mt-sm-10">
          <h1 class="head-title">Tradinos <br><span>Creative Hub</span></h1>

          <p>We are Tradinos; Creative Hub, we bring creative people together, as a convenor that focuses on both the
            practical and artistic process of building an app, finding technical solutions, applying technology in a
            creative content and proposing viable ideas, boosted by a deep talent pool of technology experts. </p>

            <div class="login-btn">
              <div class="row">
                <button class="login btnn col-sm-12 col-md-6" routerLink='/login'>
                  <span class="material-icons">person</span>
                 login </button>
                <button class="btnn col-sm-12 col-md-6" routerLink='/register'>signup</button>
              </div>

            </div>

        </div>
        <div class="img-home col-sm-12 col-md-6 position-relative">

          <div class="waman position-absolute top-0 start-0 ">
            <img src="../../../assets/img/girl.png" alt="">
          </div>
          <div class="device-photo waman position-absolute top-0 start-50 ">
            <img src="../../../assets/img/elements.png" alt="">
          </div>
          <div class="man waman position-absolute top-0 end-0  ">
            <img src="../../../assets/img/guy.png" alt="img1">
          </div>


        </div>

      </div>
    </div>

  </section>

</div>
